body {
    margin: 5vh;
    padding: 5vh;
    display: flex;
    flex-direction:row;
    background-image: url("../Images/background-geo.jpeg");
    
}

#board {
    background-color: whitesmoke;
    height: 80vh;
    width: 70vw;
    border: solid;
    border-width: 0.3vh;
    border-color: rgba(72, 36, 0, 0.259);
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {

    background-color: rgb(220, 218, 162);
    text-align: center;
    font-size: 1.8vw;
    border: solid;
    border-width: 0.3vh;
    border-color: rgba(72, 36, 0, 0.259);
    border-radius: 5%;
    
  }

  #review {
    text-align: right;
    display: contents;
    
  }
  
  #posible-answers {

    background-color: rgb(115, 84, 17);
    height: 80vh;
    width: 25vh;
    border: solid;
    border-width: 0.1vh;
    border-color: rgb(42, 23, 240);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

  }

  #results{
    background-color: #1274ca;
    color: rgb(5, 5, 5);
    height: 50vh;
    width: 50vw;
    position: fixed;
    text-align: center;
    font-size: 4vw;
    top: 25vh;
    right: 25vw;

  }

  .answers-box{
    background-color: rgb(220, 218, 162);;
    text-align: center;
  }
/*********************/
/******Home Page******/
/*********************/

  #board1 {
    background-color: rgb(120, 21, 219);
    height: 80vh;
    width: 80vw;
    border: solid;
    border-width: 0.3vh;
    border-color: rgba(72, 36, 0, 0.259);
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

#home-page{
    
        margin: 5vh;
        padding: 5vw;
        background-color: #1274ca;
        background-image: url("httpds://cdn.dribbble.com/users/59947/screenshots/17006879/media/102a4edaac3eda5c7f1fc5d7e21a5b50.jpg?resize=768x576&vertical=center");
    
      
        
    
}

.category{
    background-color: rgb(95, 215, 234);
    text-align: center;
    font-size: 1.8vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid;
    border-width: 0.3vh;
    border-color: rgba(72, 36, 0, 0.259);
    border-radius: 5%;
}